<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <title>PNEUMONIA</title>
    <link rel="icon" type="image/x-icon" href="../static/img/favicon_io/favicon-16x16.png">
    <link rel="stylesheet" href="../static/css/style.css">
    
</head>
<body>
    <section id="header">
    <a href="#"><img src="../static/img/logo-fix1.png" width=100rem class="logo" alt="logo-img"></a>   
    <div>
        <ul id="navbar">
            <li><a class="active" href="index.html">ABOUT</a></li>
            <li><a href=#feature>CAUSES</a></li>
            <li><a href=#symptoms>SYMPTOMS</a></li>
            <li><a href=#treatments>TREATMENTS</a></li>
        </ul>
    </div>
    </section>
    <section id="hero">
     <h2>About Pneumonia</h2>
     <h4 style="width: 350px; text-align: justify;">
        Pneumonia is an infection of the lungs that can be caused by bacteria, viruses, or other micro-organisms. It can cause coughing, fever, and difficulty breathing, and can be especially dangerous for young children, elderly adults, and people with weakened immune systems.
     </h4>
     <form action="/predict" method="post" enctype="multipart/form-data">
        <input type="file" id="image" class="button-1" name="file"><br><br>
        <input type="submit" class="button" value="Upload">
        
     </form>
    </section>
    <section id="feature" class="section-p1">
        <div class="fe-box">
            <img src="../static/img/features/cause-1.png" alt="cause-1">
        </div>

        <div class="fe-box">
            <img src="../static/img/features/cause-2.png" alt="cause-2">
            
        </div>

        <div class="fe-box">
            <img src="../static/img/features/cause-3.png" alt="cause-3">
            
        </div>

        <div class="fe-box">
            <img src="../static/img/features/cause-4.png" alt="cause-4">
        </div>
    </section>
<br><br>
    <section id="symptoms">
        <h2>SYMPTOMS</h2><br><br>
        <img src="../static/img/42313917-copy.jpg" width="600px" alt="symptoms">
    </section>
    <br><br><br>
    <section id="treatments">
        <h1 style="font-weight: bolder; ">TREATMENTS</h1><br>
        <ol id="treatment-elements" style="list-style-type: circle;">
           <li>Antibiotics</li>
           <li>Antiviral medications</li>
           <li>Antifungal medications</li>
           <li>Oxygen therapy</li>
           <li>Over-the-counter pain relievers</li>
           <li>Rest and hydration</li>
           <li>Hospitalization</li>
        </ol>
    </section>
</body>
</html>